/* All */
body{
  font-size: 62.5%;
  width: 100%;
  /* margin: 0 auto; */
  padding-top: 40px;
  color: #3d3d3b;

  background-color: #f8f8f8;
}

h2{
  font-size: 4.6rem;
  font-family: bilo,sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-bottom: 80px;
}