.List{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.List li{
    margin-bottom: 20px;
}

.List img{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}